.cart-container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}

.cart-container h1 {
    margin-bottom: 25px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 15px;
    margin-bottom: 20px;

    border: 1px solid #ddd;
    border-radius: 8px;
}

.cart-item img {
    width: 100px;
    height: 130px;
    object-fit: cover;
}

.details {
    flex: 1;
}

.details h3 {
    margin-bottom: 8px;
}

.cart-item button {
    padding: 8px 15px;
    border: none;
    background: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.checkout {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.empty{
    color: black;
    font-size: 25px;
    font-size: 25px;
}

.details p button{
    margin: 0 10px;
}